#camera {
  margin: 0 auto;
  width: 50%;
  border: 1px solid black;
  padding: 5px;
}


/* shake */
/* #brain {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
} */

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@keyframes shake-up {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(1px, 1px) rotate(1deg); }
  20% { transform: translate(1px, 1px) rotate(2deg); }
  30% { transform: translate(1px, 2px) rotate(3deg); }
  40% { transform: translate(1px, 1px) rotate(4deg); }
  50% { transform: translate(1px, 2px) rotate(5deg); }
  60% { transform: translate(3px, 1px) rotate(6deg); }
  70% { transform: translate(3px, 1px) rotate(7deg); }
  80% { transform: translate(1px, 1px) rotate(8deg); }
  90% { transform: translate(1px, 2px) rotate(9deg); }
  100% { transform: translate(1px, 2px) rotate(10deg); }
}


img#playTogether {
  position: absolute;
  width: 423px;
  height: 174px;
  left: 63px;
  top: 368px;
  bottom: 522px;
  background-size: contain;
}

#brain {
  position: absolute;
  width: 270px;
  height: 190px;
  left: 38x;
  top: 25px;
  bottom: 195px;
  background-size: contain;
  transform: rotate(360deg);
}

#state-jump {
  position: absolute;
  width: 200px;
  height: 100px;
  left: 210px;
  top: 62px;
  bottom: 34px;
  display: block;
  animation: shake 0.5s infinite;
  background-size: contain;
}

#state-run {
  position: absolute;
  width: 250px;
  height: 150px;
  left: 210px;
  top: 62px;
  bottom: 34px;
  display: block;
  background-size: contain;
}

#state-dead {
  display: none;
  position: absolute;
  width: 200px;
  height: 100px;
  left: 215px;
  top: 62px;
  bottom: 34px;
}

#account {
  position: absolute;
  width: 60px;
  height: 50px;
  left: 1280px;
  top: 17px;
  bottom: 66px;
  display: block;
  cursor: pointer;
}